.live {
  position: relative;
  height: 680px;
  display: block;
  padding-bottom: 90px;
  background-color: none;
}

.live-inner {
  position: relative;
  width: 1280px;

  margin: 0 auto;
}

.live-top {
  position: relative;
  background: no-repeat center;
  text-align: center;
}
.live-top img {
  position: relative;
  width: 200px;
}

.live-slide {
  position: relative;
}

.live-slide-wrap {
  position: relative;
  height: 455px;
  margin-top: 23px;
  background-color: none;
}
.swiper-slide {
  position: relative;
}
.live-slide-pick {
  position: relative;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  border-radius: 44px;
  object-fit: cover;
}

.live-slide-pick img {
  position: relative;

  width: 300px;
  height: 456px;
}

.live-slide-pick img::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(
      0deg,
      rgba(34, 34, 34, 0.5),
      rgba(34, 34, 34, 0.5)
    ),
    linear-gradient(180deg, rgba(0, 0, 0, 0.4) 18.65%, transparent 39.78%),
    linear-gradient(180deg, transparent 56.75%, rgba(0, 0, 0, 0.4) 87.59%);
  z-index: 0;
}

.live-bt {
  position: relative;
  margin-top: 25px;
  text-align: center;
}

.live-footer-bt {
  position: relative;
  padding: 0 25px;
  border: 1px solid #e5e5e5;
  background-color: white;
  line-height: 42px;
  cursor: pointer;
  border-radius: 44px;
}

.live-footer-bt::after {
  content: "";
  width: 0.7rem;
  height: 1.1rem;
  display: inline-block;
  margin-left: 0.7rem;
  background: url("/images/arrow-right.svg") no-repeat 50%;
}
